body {
	background: lightblue;
}
#logo {
	margin-left: 520px;
	margin-right: 90px;
	width: 300px;
	height: 180px;
	background: white;
}

h1 {
	text-align: center;
	color: blue;
	background: white;
	font-size: 80px;
}

#shakespeare {
	width: 300px;
	height: 200px;
	margin-left: 110px;
	margin-right: 5px;
}

#foto {
	width: 500px;
	height: 200px;
	margin-right: 5px;
	margin-left: 5px;
}

#austen {
	width: 300px;
	height: 200px;
	margin-left: 5px;
}

h3 {
	text-align: center;
	color: darkblue;
	font-size: 40px;
	font-family: Times New Roman;
	margin-bottom: 5px;
	background: lightgrey;

}

#frase {
	text-align: center;
}

#confira {
	text-align: center;
}

#romeu {
	width: 150px;
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#julieta {
	text-align: center;
}

#macbeth {
	width: 150px;
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#mac {
	text-align: center;
}

#orgulho {
	width: 150px;
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#preconceito {
	text-align: center;
}

#emma {
	width: 150px;
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#em {
	text-align: center;
}

#domcasmurro {
	width: 150px;
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#dom {
	text-align: center;
}